<aside class="bloom-sidebar">


    <div class="sidebar-brand">

        <img 
        src="../assets/img/logo.svg" 
        alt="Bloom Logo">

        <span>
            Bloom
        </span>

    </div>



    <nav class="sidebar-menu">


        <a href="dashboard.html">

            <span>🏠</span>
            <span>Dashboard</span>

        </a>



        <a href="productos.html">

            <span>🌸</span>
            <span>Productos</span>

        </a>



        <a href="categorias.html">

            <span>🗂️</span>
            <span>Categorías</span>

        </a>



        <a href="pedidos.html">

            <span>📦</span>
            <span>Pedidos</span>

        </a>



        <a href="clientes.html">

            <span>👥</span>
            <span>Clientes</span>

        </a>



        <a href="promociones.html">

            <span>🎁</span>
            <span>Promociones</span>

        </a>



        <a href="reportes.html">

            <span>📊</span>
            <span>Reportes</span>

        </a>



        <a href="usuarios.html">

            <span>👤</span>
            <span>Usuarios</span>

        </a>



        <a href="configuracion.html">

            <span>⚙️</span>
            <span>Configuración</span>

        </a>


    </nav>



    <div class="sidebar-footer">


        <button class="logout-btn">

            🚪 Cerrar sesión

        </button>


    </div>


</aside>